DirectoryIndex index.php

RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# RewriteRule ^(.*)$ index.php?/$1 [L]

RewriteRule "^(search)$" "?act=search"

RewriteRule "^([a-zA-Z0-9]+).html$" "?act=$1"

RewriteRule "^post-([0-9]+)/([\w\d\S]+).html$" "?act=blogItem&id=$1&title=$2"
RewriteRule "^danhmuc-([0-9]+)/([\w\d\S]+).html$" "?act=danhmuc&id=$1&title=$2"
RewriteRule "^author-([0-9]+)/([\w\d\S]+).html$" "?act=author&idAuthor=$1&nameAuthor=$2"

RewriteRule "^danhmuc/([0-9]+)/page-([0-9]+)/([\w\d\S]+).html$" "?act=danhmuc&id=$1&page=$2&title=$3"
RewriteRule "^posts/page-([0-9]+).html$" "?act=post&page=$1"
RewriteRule "^product/page-([0-9]+).html$" "?act=product&page=$1"
RewriteRule "^filter/([-0-9]+)/page-([0-9]+).html$" "?act=loc&catalog=$1&page=$2"

RewriteRule "^dang-nhap.html$" "?act=login"
RewriteRule "^dang-ki.html$" "?act=signup"
RewriteRule "^quen-mat-khau.html$" "?act=forget-password"

